.bd {
    /* The image used */
    background-image: url("https://www.vactualpapers.com/web/wallpapers/modern-material-design-full-hd-wallpaper-no-440/1920x1920.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
  }